[submodule "themes/notepadium"]
	path = themes/notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even.git
